<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SwingMapViewer/src/main/java/org/mapsforge/map/swing/MapViewer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.mapsforge.map.swing.MapViewer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:/Users/Jacob/Documents/VictoriaFourthYear/mapThis.osm"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SwingMapViewer"/>
</launchConfiguration>
